*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: flex; 
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
    margin: 0;
    background-color: #a9a9a9;
}

.container {
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%; 
    max-width: 300px; 
    display: flex;
    flex-direction: column;  
    gap: 15px;
}

header{
    display: flex;
    align-items: center;   
}

header img{
   height: 36px;
   margin-right: 16px;
}

header h1{
    font-weight: bold;
    font-size: 40px;
}

.imputbox{
  display: flex;
  flex-direction: column;
  gap: 5px; 
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}